* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@mixin sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    position: absolute;
    top: 0;
}

@mixin digits-container {
    position: absolute;
    display: flex;
    flex-direction: row;
}

#game-container {
    position: relative;

    #background-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        #background-pattern {
            position: relative;
            width: 100%;
            height: 100%;
            background: url("../assets/background.png");
            //filter: hue-rotate(450deg);
        }

        .left-container {
            @include sidebar-container();
            left: 50px;

            #scoreboard-container {
                position: relative;
                z-index: 5;

                > img {
                    width: 20vw;
                    height: auto;
                }

                #top-score-container {
                    @include digits-container();
                    top: 40%;
                    right: 10%;
                    width: 50%;
                    height: 10%;
                }

                #current-score-container {
                    @include digits-container();
                    top: 75%;
                    right: 10%;
                    width: 50%;
                    height: 10%;
                }
            }

            #magnifier-container {
                z-index: 5;
                position: relative;

                #magnifier {
                    width: 20vw;
                    height: auto;
                }

                .virus-animation {
                    width: 25%;
                    height: auto;
                    position: absolute;
                }
            }
        }

        .right-container {
            @include sidebar-container();
            right: 2%;

            #doctor-container {
                z-index: 5;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                #doctor-frame {
                    width: 20vw;
                    height: auto;
                }

                #doctor-animation {
                    z-index: 11;
                    position: absolute;
                    width: 80%;
                    height: auto;
                }
            }

            #info-container {
                z-index: 5;
                position: relative;

                > img {
                    width: 18vw;
                    height: auto;
                }

                #level-number {
                    @include digits-container();
                    top: 30%;
                    right: 17%;
                    width: 20%;
                    height: 10%;
                }

                #viruses-number {
                    @include digits-container();
                    top: 75%;
                    right: 17%;
                    width: 20%;
                    height: 10%;
                }
            }
        }
    }

    #board-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        > img {
            z-index: 2;
            position: absolute;
            width: 20vw;
            height: auto;
        }

        #game-board {
            z-index: 10;
            position: relative;
            display: grid;
            gap: 0;
            grid-template-columns: repeat(25, 1fr);
            grid-template-rows: repeat(16, 1fr);
            margin-bottom: 5.5%;
            margin-left: 29vw;

            .board-cell {
                background-color: transparent;
                width: 1.7vw;
                height: 1.7vw;

                .cell-img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.digit {
    flex-grow: 1;
    > img {
        width: 100%;
        height: auto;
    }
}

#game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    > img {
        transform: scale(1.5);
    }

    visibility: hidden;
}
