* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
  width: 1200px;
  height: 600px;
}

#game-container #background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-container #background-container #background-pattern {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/background.png");
}

#game-container #background-container .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50px;
}

#game-container #background-container .left-container #scoreboard-container {
  position: relative;
  z-index: 5;
}

#game-container #background-container .left-container #scoreboard-container > img {
  width: 300px;
  height: auto;
}

#game-container #background-container .left-container #scoreboard-container #top-score-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 100px;
  right: 30px;
  width: 150px;
  height: 30px;
}

#game-container #background-container .left-container #scoreboard-container #current-score-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 180px;
  right: 30px;
  width: 150px;
  height: 30px;
}

#game-container #background-container .left-container #magnifier-container {
  z-index: 5;
  position: relative;
}

#game-container #background-container .left-container #magnifier-container #magnifier {
  width: 250px;
  height: auto;
}

#game-container #background-container .left-container #magnifier-container .virus-animation {
  width: 65px;
  height: auto;
  position: absolute;
}

#game-container #background-container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50px;
}

#game-container #background-container .right-container #doctor-container {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-container #background-container .right-container #doctor-container #doctor-frame {
  width: 250px;
  height: auto;
}

#game-container #background-container .right-container #doctor-container #doctor-animation {
  z-index: 11;
  position: absolute;
  width: 200px;
  height: auto;
}

#game-container #background-container .right-container #info-container {
  z-index: 5;
  position: relative;
}

#game-container #background-container .right-container #info-container > img {
  width: 180px;
  height: auto;
}

#game-container #background-container .right-container #info-container #level-number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 30%;
  right: 17%;
  width: 20%;
  height: 10%;
}

#game-container #background-container .right-container #info-container #viruses-number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 75%;
  right: 17%;
  width: 20%;
  height: 10%;
}

#game-container #board-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-container #board-container > img {
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 700px;
  height: auto;
}

#game-container #board-container #game-board {
  z-index: 10;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 0;
  -ms-grid-columns: (1fr)[25];
      grid-template-columns: repeat(25, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
  margin-bottom: 80px;
  margin-left: 420px;
}

#game-container #board-container #game-board .board-cell {
  background-color: transparent;
  width: 25px;
  height: 25px;
}

#game-container #board-container #game-board .board-cell .cell-img {
  width: 100%;
  height: auto;
}

.digit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.digit > img {
  width: 100%;
  height: auto;
}

#game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  visibility: hidden;
}

#game-info > img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=index.css.map */